Elector/
chromium/
dconf/
discord/
kde.org/
pulse/
wal/
go/
htop/
.config/Outline/
.config/QtProject.conf
.config/gtk-3.0/
.config/kritadisplayrc
.config/kritarc
.config/libreoffice/
.config/obs-studio/
.config/qt5ct/
.config/qt6ct/
.config/systemd/
mimeapps.list
.config/baloofileinformationrc
.config/filetypesrc
.config/fontconfig/
.config/kiorc
.config/klanguageoverridesrc
.config/kservicemenurc
.config/ktrashrc
.config/session/
.config/waybar/media-player.log
.config/waybar/mediaplayer.py
.config/weechat/
.config/xdg-desktop-portal/
obsidian/
dolphinrc
pavucontrol.ini
