* {
    font-family: CaskaydiaMono Nerd Font;
    font-size: 14px;
}

window#waybar {
    background-color: #1e1e1e;
    color: #bbbbbb;
    transition-property: background-color;
    transition-duration: .5s;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#tags button {
    padding: 0 5px;
    background-color: transparent;
}

#tags button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#tags button.focused {
    box-shadow: inset 0 -3px #ffffff;
}
#tags button.active {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #ffffff;
}

#tags button.urgent {
    background-color: #eb4d4b;
}

#battery {
    padding: 0 20px 0 0;
}

#clock,
#wireplumber,
#tray,
#mpd {
    padding: 0 10px 0 0;
    color: #bbbbbb;
}

#window,
#tags {
    margin: 0 4px;
}

/* If tags is the leftmost module, omit left margin */
.modules-left > widget:first-child > #tags {
    margin-left: 0;
}

/* If tags is the rightmost module, omit right margin */
.modules-right > widget:last-child > #tags {
    margin-right: 0;
}
