* {
    font-family: CaskaydiaMono Nerd Font;
    font-size: 15px;
}

window {
    background-color: rgb(--wofi-rgb-color1);
    border-radius: 10px;
}

#outer-box {
    margin: 5px 5px 5px 5px;
}

#input {
    margin: 5px;
    background-color: rgb(--wofi-rgb-color4);
}

#scroll {}

#inner-box {
    background-color: rgb(--wofi-rgb-color1);
    border-radius: 10px;
}

#text {
    color: rgb(--wofi-rgb-color16)
}

#unselected {}

#selected {}



